@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importações */
@import "bootstrap-icons/font/bootstrap-icons";
@import "remixicon/fonts/remixicon.css";

:root {
  /* Cores */
  --prim: #C291F2;
  --prim-light: #F1C2F2;
  --second: #57AAF2;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(90deg, #C291F2 1.9%, #564D8C 85.96%);

  /* Fontes */
  --Pangolin: 'Pangolin', sans-serif;
  --Federo: 'Federo', sans-serif;
  --PunkWest: var(--font-punk-west);

  /* Transições */
  --transition-regular: 0.3s;
  --transition-slow: 0.5s;
}

.Pangolin {
  font-family: var(--Pangolin);
}
.Federo {
  font-family: var(--Federo);
}
.PunkWest {
  font-family: var(--PunkWest);
}

body {
  background-color: #fffaf3; 
  overflow-y: hidden !important;
}